@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
  box-sizing: border-box;
}
.App {
  font-family: 'Nunito Sans', sans-serif;
  color: #111517;
}
body{
  background-color: #fafafa;
}
a{
  color: #111517;
  text-decoration: none;
}
.titulo-country-detail{
  text-align: center;
}
.titulo-country-detail:hover{
  text-decoration: underline;
}
.container-country{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.country-data{
  padding-left: 2rem;
  width: 50%;
  position: relative;
}
.country-data img{
  width: 20%;
  position: absolute;
  top: 0;
  right: 1rem;
}
.country-data p{
  margin: 0.3rem 0;
}
.map{
  width: 50%;
}

@media screen and (max-width:700px){
  .country-data{
    width: 100%;
  }
  .map{
    width: 100%;
  }
}